tgcHome{

	.content-format{
		background-color: #2f354d;
		color:  #fff;
	}

	.welcome{
		font-size: 16px;
		font-family:sans-serif;
		text-align: center;
		margin-top: 30%;
		letter-spacing: 1px;
	}

	.tgc{
		padding: 15%;
	}

	.tabs-md .tabbar {
		background: #fff;
	}
	
}