<html>
<head lang="en" th:include="header :: header"></head>
<body>
	<div lang="en" th:include="navigation :: navigation"></div>
	<div class="page-title-container">
		<div class="container">
			<div class="page-title pull-left">
				<h2 class="entry-title"></h2>
			</div>
			<ul class="breadcrumbs pull-right">
				<li><a href="/">HOME</a></li>
				<li class="active"></li>
			</ul>
		</div>
	</div>
	<section id="content" class="gray-area">
		
		
		<div class="container">
        <div class="col-lg-12">
          <h1 class="mainTagline">For Parents,<br></br>By Parents</h1>
          <h2 class="mainSubline">Today Got Class is a free-to-use service for busy and time-starved parents in Singapore,<br></br>to find and book the best enrichment class for your child – Web or Mobile. </h2>
          <hr class="fullWidthDivider"></hr>
        </div>
        <div class="col-lg-12"><img src="images/4.png" class="width-100"></img></div>
        <div class="col-lg-12">
            <div class="aboutPGBody">
            <h3>WE SIMPLIFY PARENTHOOD</h3>
            <p>Founded by 2 Singaporean mothers with kids aged 3, 6 and 8 years old – we aim to simplify parenthood. </p>
            <p>So, we created Today Got Class - a free-to-use service that allows parents to discover and book the best child enrichment classes. </p>

			<p>We understand the need for quality enrichment, that&apos;s why we only work with trusted educators.</p>
			
			<h5>TODAY GOT CLASS IS A SERVICE PROVIDED FOR PARENTS, BY PARENTS</h5>

			<p>With over 1,000 classes and 120 centres - All educators listed on Today Got Class are personally curated by us, our family and parenting friends. We work hard to personally meet and pre-screen every educator prior to listing their classes.</p> 
			
			<p>As multi-tasking mothers who were once corporate warriors - we understand the scarcity of time spent with our families. That&apos;s why we simplify the booking process - find, book and get rewarded, done anytime, anywhere. </p>
			
			<p>We witnessed our own kids reaping the benefits of a long term quality enrichment, which is why we invest in a term or more, seldom a class or two. </p>
			
			<p>Bringing across our own experiences as parents, guided by honesty and integrity - Today Got Class aims to make it easier for parents to discover and book the best child enrichment classes.</p> 
            
            <h5>We hope you would enjoy Today Got Class. </h5>
            </div>
        </div>
        
        <div class="col-md-5">
            <p class="leftPadd20 aboutAuthorTXT">Love,<br></br>
Lydia &amp; Jaclyn</p>
            <p class="leftPadd20 aboutAuthorTXT">Chief Executive Mums<br></br>Today Got Class</p>
        </div>
        
        <div class="col-md-12">
            <div class="aboutPGBody">
                <h4>PS: We thought we&apos;d share our stories, Enjoy!</h4>
            </div>
        </div>
        
        <!-- <div class="col-md-12">
            <div class="aboutPGBody" id="shareVideos">
                <video id="sampleMovie" width="48%" controls="" poster="images/LydiaVideoScreen.jpg" onclick="this.play();">
					<source src="images/Lydia_Final.mp4"></source>
				</video>
                <video id="sampleMovie" width="48%" controls="" poster="images/JaclynVideoScreen.jpg" class="pull-right" onclick="this.play();">
					<source src="images/Jaclyn_Final.mp4"></source>
				</video>
                <div class="clearB"></div>
            </div>
        </div> -->
        
		
		
		</div>
	</section>

	<div lang="en" th:include="footer :: footer"></div>
	<script th:include="footer :: loginScript" th:inline="javascript"></script>
	
</body>
</html>


