<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
<head>
    <!-- Page Title -->
    <title>Travelo | Responsive HTML5 Travel Template</title>
    
    <!-- Meta Tags -->
    <meta charset="utf-8"/>
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Travelo | Responsive HTML5 Travel Template"/>
    <meta name="author" content="SoapTheme"/>

	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <!-- Theme Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="css/animate.min.css"/>
    
    <!-- Current Page Styles -->
    <link rel="stylesheet" type="text/css" href="components/revolution_slider/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="components/revolution_slider/css/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="components/jquery.bxslider/jquery.bxslider.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="components/flexslider/flexslider.css" media="screen" />
    
    <!-- Main Style -->
    <link id="main-style" rel="stylesheet" href="css/style.css"/>
    
    <!-- Custom Styles -->
    <link rel="stylesheet" href="css/custom.css"/>

    <!-- Updated Styles -->
    <link rel="stylesheet" href="css/updates.css"/>
    
    <!-- Responsive Styles -->
    <link rel="stylesheet" href="css/responsive.css"/>
    
    <!-- CSS for IE -->
    <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="css/ie.css" />
    <![endif]-->
    
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type='text/javascript' src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
</head>
<body>
    
    <div id="page-wrapper">
        <header id="header" class="navbar-static-top">
            <div class="topnav hidden-xs">
                <div class="container">
                    <ul class="quick-menu pull-left">
                        <li><a href="#">MY ACCOUNT</a></li>
                        <li class="ribbon">
                            <a href="#">English</a>
                            <ul class="menu mini">
                                <li><a href="#" title="Dansk">Dansk</a></li>
                                <li><a href="#" title="Deutsch">Deutsch</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="quick-menu pull-right">
                        <li><a href="#travelo-login" class="soap-popupbox">LOGIN</a></li>
                        <li><a href="#travelo-signup" class="soap-popupbox">SIGNUP</a></li>
                        <li class="ribbon currency">
                            <a href="#" title="">USD</a>
                            <ul class="menu mini">
                                <li><a href="#" title="AUD">AUD</a></li>
                                <li class="active"><a href="#" title="USD">USD</a></li>
                                <li><a href="#" title="CAD">CAD</a></li>
                                <li><a href="#" title="IDR">IDR</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="main-header">
                
                <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">
                    Mobile Menu Toggle
                </a>

                <div class="container">
                    <h1 class="logo navbar-brand">
                        <a href="index.html" title="Travelo - home">
                            <img src="images/logo.png" alt="Travelo HTML5 Template" />
                        </a>
                    </h1>
                    
                    <nav id="main-menu" role="navigation">
                        <ul class="menu">
                            <li class="menu-item-has-children">
                                <a href="index.html">Home</a>
                                <ul>
                                    <li><a href="index.html">Home Layout 1</a></li>
                                    <li><a href="homepage2.html">Home Layout 2</a></li>
                                    <li><a href="homepage11.html">Home Layout 11</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="hotel-index.html">Hotels</a>
                                <ul>
                                    <li><a href="hotel-index.html">Home Hotels</a></li>
                                    <li><a href="hotel-thankyou.html">Thank You</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="flight-index.html">Flights</a>
                                <ul>
                                    <li><a href="flight-index.html">Home Flights</a></li>
                                    <li><a href="flight-thankyou.html">Thank You</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="car-index.html">Cars</a>
                                <ul>
                                    <li><a href="car-index.html">Home Cars</a></li>
                                    <li><a href="car-list-view.html">List View</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="cruise-index.html">Cruises</a>
                                <ul>
                                    <li><a href="cruise-detailed.html">Detailed</a></li>
                                    <li><a href="cruise-booking.html">Booking</a></li>
                                    <li><a href="cruise-thankyou.html">Thank You</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children megamenu-menu">
                                <a href="#">Pages</a>
                                <div class="megamenu-wrapper container" data-items-per-column="8">
                                    <div class="megamenu-holder">
                                        <ul class="megamenu">
                                            <li class="menu-item-has-children">
                                                <a href="#">Standard Pages</a>
                                                <ul class="clearfix">
                                                    <li><a href="pages-aboutus1.html">About Us 1</a></li>
                                                    <li><a href="pages-sitemap.html">Site Map</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="#">Extra Pages</a>
                                                <ul class="clearfix">
                                                    <li><a href="extra-pages-travel-ideas.html">Travel Ideas</a></li>
                                                    <li><a href="extra-pages-travel-insurance.html">Travel Insurance</a></li>
                                                    <li><a href="extra-pages-group-booking.html">Group Bookings</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="#">Special Pages</a>
                                                <ul class="clearfix">
                                                    <li><a href="pages-login1.html">Login Page 1</a></li>
                                                    <li><a href="pages-login2.html">Login Page 2</a></li>
                                                    <li><a href="pages-login3.html">Login Page 3</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Shortcodes</a>
                                <ul>
                                    <li><a href="shortcode-gallery-styles.html">Image &amp; Gallery Styles</a></li>
                                    <li><a href="shortcode-image-box-styles.html">Image Box Styles</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Listing Styles</a>
                                        <ul>
                                            <li><a href="shortcode-listing-style1.html">Listing Style 01</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shortcode-dropdowns.html">Dropdowns</a></li>
                                    <li><a href="shortcode-pricing-tables.html">Pricing Tables</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Bonus</a>
                                <ul>
                                    <li><a href="dashboard1.html">Dashboard 1</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#">7 Footer Styles</a>
                                        <ul>
                                            <li><a href="#">Default Style</a></li>
                                            <li><a href="footer-style1.html">Footer Style 1</a></li>
                                            <li><a href="footer-style2.html">Footer Style 2</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">8 Header Styles</a>
                                        <ul>
                                            <li><a href="#">Default Style</a></li>
                                            <li><a href="header-style1.html">Header Style 1</a></li>
                                            <li><a href="header-style2.html">Header Style 2</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">7 Inner Start Styles</a>
                                        <ul>
                                            <li><a href="#">Default Style</a></li>
                                            <li><a href="inner-starts-style5.html">Inner Start Style 5</a></li>
                                            <li><a href="inner-starts-style6.html">Inner Start Style 6</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">3 Search Styles</a>
                                        <ul>
                                            <li><a href="search-style1.html">Search Style 1</a></li>
                                            <li><a href="search-style2.html">Search Style 2</a></li>
                                            <li><a href="search-style3.html">Search Style 3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Center Search Results</h2>
                </div>
                <ul class="breadcrumbs pull-right">
                    <li><a href="/">HOME</a></li>
                    <li class="active">Center Search Results</li>
                </ul>
            </div>
        </div>
        <section id="content">
            <div class="container">
                <div id="main">
                    <div class="row">
                        <div class="col-sm-10 col-md-10">
                            <div class="clearfix">
								<input type="search" placeholder="Search..." class="input-text full-width search" style="background: white"/>
                            </div>
                            <div class="hotel-list listing-style3 hotel">

                                <article class="box search_item" th:each="center : ${centers}">
                                    <figure class="col-sm-3 col-md-2">
                                    	<img th:src="${'getImage/' + center.logoName}" alt="" style="height:120px; width:120px;"/>
                                    </figure>
                                    <div class="details col-sm-9 col-md-10">
                                        <div>
                                            <div>
                                                <h4 class="box-title searchee" th:text="${center.centerName}"></h4><br></br>
                                                <i class="soap-icon-departure yellow-color"></i><small th:text="${' ' + center.address.area + ', ' + center.address.district}"></small>
                                            </div>
                                            <div>
                                            	<a th:href="${'/map?centerId=' + center.id}" target="_blank"><i class="soap-icon-departure yellow-color"></i>
                                                <span class="review">see on map</span></a>
                                            </div>
                                        </div>
                                        <div>
                                            <p th:text="${center.about}"></p>
                                            <div>
                                                <a class="button btn-small full-width text-center" title="" th:href="${'/center-classes?centerId=' + center.id}">CLASSES</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <footer id="footer">
            <div class="footer-wrapper">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
            <div class="bottom gray-area">
                <div class="container">
                    <div class="logo pull-left">
                        <a href="index.html" title="Travelo - home">
                            <img src="images/logo.png" alt="Travelo HTML5 Template" />
                        </a>
                    </div>
                    <div class="pull-right">
                        <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
                    </div>
                    <div class="copyright pull-right">
                        <p>&copy; 2014 Travelo</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Javascript -->
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.noconflict.js"></script>
    <script type="text/javascript" src="js/modernizr.2.7.1.min.js"></script>
    <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="js/jquery-ui.1.10.4.min.js"></script>
    
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    
    <!-- load revolution slider scripts -->
    <script type="text/javascript" src="components/revolution_slider/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="components/revolution_slider/js/jquery.themepunch.revolution.min.js"></script>
    
    <!-- load BXSlider scripts -->
    <script type="text/javascript" src="components/jquery.bxslider/jquery.bxslider.min.js"></script>
    
    <!-- load FlexSlider scripts -->
    <script type="text/javascript" src="components/flexslider/jquery.flexslider-min.js"></script>
    
    <!-- Google Map Api -->
    <script type='text/javascript' src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script type="text/javascript" src="js/gmap3.min.js"></script>
    
    <!-- parallax -->
    <script type="text/javascript" src="js/jquery.stellar.min.js"></script>
    
    <!-- waypoint -->
    <script type="text/javascript" src="js/waypoints.min.js"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="js/theme-scripts.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    
    <script type="text/javascript">
        tjq(document).ready(function() {
            tjq("#price-range").slider({
                range: true,
                min: 0,
                max: 1000,
                values: [ 100, 800 ],
                slide: function( event, ui ) {
                    tjq(".min-price-label").html( "$" + ui.values[ 0 ]);
                    tjq(".max-price-label").html( "$" + ui.values[ 1 ]);
                }
            });
            tjq(".min-price-label").html( "$" + tjq("#price-range").slider( "values", 0 ));
            tjq(".max-price-label").html( "$" + tjq("#price-range").slider( "values", 1 ));
            
            tjq("#rating").slider({
                range: "min",
                value: 40,
                min: 0,
                max: 50,
                slide: function( event, ui ) {
                    
                }
            });
        });
    </script>
</body>
</html>

