<html>
   <head lang="en" th:include="header :: header"></head>
<body>
    	<div lang="en" th:include="navigation :: navigation"> </div>

        <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Center classes</h2>
                </div>
                <ul class="breadcrumbs pull-right">
                    <li><a href="/">HOME</a></li>
                    <li class="active">Center classes</li>
                </ul>
            </div>
        </div>
            
            
        <section id="content">
	        <div class="container">
		        <div class="row">
			       <div class="col-sms-7 col-sm-7 col-md-7">
			               <div class="row image-box style1 add-clearfix">
		                       <article style="text-align: center">
		                           <figure class="animated" data-animation-type="fadeInDown" data-animation-duration="1">
			                           <img th:src="${'getImage/' + center.logoName}" alt="" style="height:120px; width:120px;"/>
		                           </figure>
		                           <br></br>
		                           <div class="details">
		                               <h1 class="box-title" th:text="${center.centerName}"></h1>
		                           </div>
		                       </article>
			               </div>
			            <div>
			                   <ul class="search-tabs clearfix">
			                       <li class="active"><a href="#hotels-tab" data-toggle="tab">Timetable</a></li>
			                       <li><a href="#flights-tab" data-toggle="tab">About</a></li>
			                   </ul>
			                   <div class="visible-mobile">
			                       <ul id="mobile-search-tabs" class="search-tabs clearfix">
			                           <li class="active"><a href="#hotels-tab">Timetable</a></li>
			                           <li><a href="#flights-tab">About</a></li>
			                       </ul>
			                   </div>
			                   
			                   <div class="search-tab-content">
			                       <div class="tab-pane fade active in" id="hotels-tab">
			                       
			                       
			                       
				                       <div class="date-filter-ul">
				                       		<ul id="categoryScheduleNav">
				                       			<li><a href="javascript:filterClass('All', '')"><span>All Days</span></a></li>
												<li th:each="date : ${data.dates}"><a th:href="${'javascript:filterClass('''+#dates.format(date, 'yyyy-MM-dd')+''',''' +#dates.format(date, 'EEEE, MMMM dd, yyyy')+ ''')'}"><span  th:text="${#dates.format(date, 'EEE MM/dd')}"></span></a></li>
											</ul>
				                       </div>
				                       
				                       <div class="selected-date"></div>
			                       
			                            <div class="hotel-list listing-style3 hotel">
			
			                               <article class="box match_class" th:each="classObj : ${data.classes}">
			                                   <div class="details col-sm-9 col-md-12">
			                                       <div>
			                                           <div>
			                                           <h2><a title="" th:text="${classObj.name}" th:href="${'/class-details?timeTableId=' + classObj.id}"></a>
			                                           </h2>
			                                           		<!-- <h2 class="box-title" ></h2> -->
			                                           	<br></br>
			                                           </div>
			                                           <div class="class-cost">
			                                           		<h1 th:text="${classObj.fee}"></h1>
			                                           </div>
			                                       </div>
			                                       <div>
				                                       <div>
			                                           		<p style="margin: 0px;" class="filter-date" th:text="${classObj.date}"></p>
			                                               <h4 class="box-title" th:text="${classObj.day + '( ' + classObj.time + ' )'}"></h4><br></br><br></br>
			                                               <u><h4 class="box-title" th:text="${classObj.slots}"></h4></u><br></br>
				                                       </div>
			                                           <div>
			                                               <a class="button btn-small full-width text-center" th:if="${session.isLoggedIn==true}" th:href="${'/addToCart?classId=' + classObj.id}">BOOK NOW</a>
			                                               <a class="button btn-small full-width text-center" th:if="!${session.isLoggedIn==true}" th:onclick="'doLogin(\'' + ${classObj.id} + '\');'" >BOOK NOW</a>
			                                           </div>
			                                       </div>
			                                   </div>
			                               </article>
				                        </div>
			                       </div>
			                       <div class="tab-pane fade" id="flights-tab">
			                            <div class="hotel-list listing-style3 hotel">
			
			                               <article class="box" style="min-height: 250px;">
			                                   <div class="details col-sm-9 col-md-10">
			                                           <div>
			                                               <h2 class="box-title">About the center</h2><br></br>
			                                           </div>
			                                           <br></br>
			                                           <p th:text="${center.about}"></p>
			                                   </div>
			                               </article>
			                               <article class="box" style="min-height: 250px;">
			                                   <div class="details col-sm-9 col-md-10">
			                                       <div>
		                                               <h2 class="box-title">Amenities</h2><br></br>
			                                       </div>
			                                       <br></br>
			                                       <p class="box-title" th:text="${center.amenities}"></p>
			                                   </div>
			                               </article>
				                        </div>
			                       </div>
			                   </div>
			            </div>
			       </div>
			       <div class="col-sms-4 col-sm-4 col-md-4">
			       		<div class="row" style="background: white; margin: 0px; padding: 30px;">
				       		<div class="col-sms-4 col-sm-4 col-md-4"><img src="images/icon/location.svg" style="height:45px"></img></div>
				       		<div class="col-sms-8 col-sm-4 col-md-8">
	                            <h4 class="box-title" th:text="${center.address.addressLine1}"></h4>
	                            <h4 class="box-title" th:text="${center.address.addressLine2}"></h4>
	                            <h4 class="box-title" th:text="${center.address.district}"></h4>
	                            <h4 class="box-title" th:text="${center.address.area}"></h4><br></br><br></br>
				       		</div>
			       		</div>
			       		<br></br>
			       		<div id="map_canvas" style="height: 300px; position: relative; background-color: rgb(229, 227, 223);">
			       		</div>
			       </div>
		        </div>
	        </div>
        </section>
        
         <div lang="en" th:include="footer :: footer"></div>
    <script th:include="footer :: loginScript" th:inline="javascript"></script> 
    
   <script th:inline="javascript">
	    function doLogin(classId)
	    {
				jQuery('#login-redirect-url').val("addToCart?classId="+classId);				
				document.getElementById('login-link').click();
			return false;
	    }
	    
	    
	    var geocoder;
	    var map;
	    function codeAddress() {
	    geocoder = new google.maps.Geocoder();
	    var myOptions = {
	      zoom: 16,
	      mapTypeId: google.maps.MapTypeId.ROADMAP
	    }
	    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
	    var address = [[${center.address.district}]] + ",  " + [[${center.address.area}]];
	            geocoder.geocode( { 'address': address}, function(results, status) {
	              if (status == google.maps.GeocoderStatus.OK) {
	                map.setCenter(results[0].geometry.location);
	                var marker = new google.maps.Marker({
	                    map: map,
	                    position: results[0].geometry.location
	                });
	              } else {
	                alert("Geocode was not successful for the following reason: " + status);
	              }
	            });
	          }
	
	
	
	    window.onload = function(){
	            codeAddress();
	       }
	    
	</script> 
</body>
</html>

