<html>
<head lang="en" th:include="header :: header"></head>
<body>
	<div lang="en" th:include="navigation :: navigation"></div>
	<div class="page-title-container">
		<div class="container">
			<div class="page-title pull-left">
				<h2 class="entry-title">Profile</h2>
			</div>
			<ul class="breadcrumbs pull-right">
				<li><a href="/">HOME</a></li>
				<li class="active">Add Child</li>
			</ul>
		</div>
	</div>
	<section id="content" class="gray-area">
		<div class="container">




			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>
				<strong><span style="text-decoration: underline;">Frequently
						Asked Questions (FAQS)</span></strong>
			</p>
			<ol>
				<li><strong>How do I make a booking?</strong></li>
			</ol>
			<p>&nbsp;</p>
			<p>You would need to sign up for an account before you are able
				to “Find a Class”.</p>
			<p>Once you have an account (Hello TGC Parent!) - Simply search,
				select and book for the best enrichment classes. You can search for
				your preferred classes based on locations, age, timing and pricing
				filters and select classes that suit you best. Click the “BOOK NOW”
				button for classes with available slots and make payment instantly
				through Paypal or credit card. Your booking is confirmed instantly
				once payment is successful.</p>
			<p>&nbsp;</p>
			<ol start="2">
				<li><strong>How do I know that my class booking is
						successful?</strong></li>
			</ol>
			<p>&nbsp;</p>
			<p>You will get a confirmation email after each successful class
				booking. On the day itself, you may present the email confirmation
				to the education provider or simply inform the education provider
				that you have made a class booking through Today Got Class.</p>
			<p>&nbsp;</p>
			<ol start="3">
				<li><strong>What kind of enrichment classes can I book
						through Today Got Class?</strong></li>
			</ol>
			<p>&nbsp;</p>
			<p>There is a wide range of enrichment classes and activities
				listed on Today Got Class. Our categories range from language
				literacy, science and maths, brain training to sports, music and
				arts. Our education partners have been carefully hand-picked by us,
				so that you can enjoy peace of mind.</p>
			<p>&nbsp;</p>
			<ol start="4">
				<li><strong>What happens if I need to cancel a class
						after booking has been made? </strong></li>
			</ol>
			<p>&nbsp;</p>
			<p>Please inform us as soon as possible if you need to cancel a
				class after booking has been made. Generally, payments are
				non-refundable after a booking has been made and/or confirmed.
				However, we may provide either a full or partial refund depending on
				circumstances and taking into consideration the cancellation policy
				of our partners.&nbsp; The decision for refund is at our sole and
				absolute discretion.</p>
			<p>&nbsp;</p>
			<ol start="5">
				<li><strong>How does the reward system work?</strong></li>
			</ol>
			<p>&nbsp;</p>
			<p>You will automatically receive 1 Reward Point for every S$1
				spent on class bookings. You can accumulate rewards points to redeem
				for discounts off your next class booking. You may track the number
				of points collected under “My Rewards” in your Profile Page.</p>
			<p>&nbsp;</p>
			<p>For every 100 Reward Points earned, you can redeem S$1 off
				your next class booking. To redeem your reward points, simply key in
				the number of points (in units of hundreds) that you wish to utilise
				while making payment for your class booking. The discount (based on
				number of points indicated) will be deducted from the final payment
				amount.</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>






		</div>
	</section>

	<div lang="en" th:include="footer :: footer"></div>
	<script th:include="footer :: loginScript" th:inline="javascript"></script>

</body>
</html>


