<div th:fragment="footer">
	<footer id="footer">

		<div style="padding: 25px 0;">

			<div class="container-fluid">
				<div class="col-sm-6 hidden-xs">
					<ul class="navBottom">
						<li><a href="about">About</a></li>
						<li><a href="partner">I'm an educator</a></li>
					</ul>
					<ul class="navBottom">
						<li><a href="faq">FAQ</a></li>
						<li><a href="tnc">Terms of use</a></li>
					</ul>
					<ul class="navBottom">
						<li><a class="text-uppercase" href="getstarted">How it
								works</a></li>
						<li><a class="text-uppercase" href="articles">Articles</a></li>
					</ul>
				</div>
                <div class="ft-contact">
				<div class="col-sm-6 text-right ">
					<div class="socialIcons">
						<h3 class="colorBlue">Connect With Us</h3>
						<a href="http://www.facebook.com"
							target="_blank"><img src="images/icon/fbBottom.svg" /></a>
						<a href="https://www.instagram.com"
							target="_blank"><img src="images/icon/instagramBottom.svg" /></a>
						<a href="mailto:test@gmail.com" target="_blank"><img
								src="images/icon/mailBottom.svg" /></a>
					</div>
				</div>
				</div>

			</div>
		</div>


	</footer>
</div>

<script th:fragment="loginScript">
</script>
