<html>
<head lang="en" th:include="header :: header"></head>
<body>
	<div lang="en" th:include="navigation :: navigation"></div>
	<div class="page-title-container">
		<div class="container">
			<div class="page-title pull-left">
				<h2 class="entry-title">Profile</h2>
			</div>
			<ul class="breadcrumbs pull-right">
				<li><a href="/">HOME</a></li>
				<li class="active">Add Child</li>
			</ul>
		</div>
	</div>
	<section id="content" class="gray-area">
		<div class="container">




			<div class="col-lg-12">
				<h1 class="mainTagline">THE HAPPIER WAY TO BOOK CLASSES</h1>
				<h2 class="mainSubline">
					Discover classes for free. Plus, enjoy exclusive discounts when you
					sign up for our complimentary rewards programme.<br></br>We
					carefully select each education provider that we work with, so your
					child receives the very best.
				</h2>
				<hr class="fullWidthDivider"></hr>
				<h3 id="bookGetStartedTagline">Get Started</h3>
			</div>

			<div class="col-lg-12">

				<div class="getStartedBlocksEnc">
					<div class="getStartedBlock">
						<a><img src="images/find.svg" alt="Find Now!"
							class="img-responsive"/></a>
						<p>
							Search for your preferred classes,<br></br>locations, timings and
							prices. We’ll also<br></br>send you tailored recommendations<br></br>based
							on your location and interests.
						</p>
					</div>

					<div class="getStartedDivider visible-lg">
						<hr></hr>
					</div>

					<div class="getStartedBlock">
						<a><img src="images/book.svg" alt="Book Now!"
							class="img-responsive"/></a>
						<p>
							Book and get instant confirmation.<br></br>These trusted
							educators have been<br></br>carefully hand-picked by us, so that<br></br>parents
							can enjoy peace of mind.
						</p>
					</div>

					<div class="getStartedDivider visible-lg">
						<hr></hr>
					</div>

					<div class="getStartedBlock" id="getStartedBlockLast">
						<a><img src="images/reward.svg" alt="Book Now!"
							class="img-responsive"/></a>
						<p>Accumulate points every time you book a class with us.
							Every $1 earned is equivalent to 1 point. Accumulate to 100
							points or more and exchange them for discounts on your next
							booking!</p>
					</div>
				</div>

			</div>

			<div class="col-lg-12">
				<a class="soap-popupbox choice1BTN clickable next" href="#travelo-signup" onclick="clearErrorSpan()">Sign Up NOW!</a>
			</div>






		</div>
	</section>

	<div lang="en" th:include="footer :: footer"></div>
	<script th:include="footer :: loginScript" th:inline="javascript"></script>

</body>
</html>


