<head th:fragment="header">
    <title>TGC</title>
    <link rel="icon" type="image/png" href="images/favicon.png" />
    
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Travelo | Responsive HTML5 Travel Template"/>
    <meta name="author" content="SoapTheme"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <!-- Theme Styles -->
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="../css/animate.min.css"/>
    <link rel="stylesheet" href="../css/main.css"/>
    
    <!-- Current Page Styles -->
    <link rel="stylesheet" type="text/css" href="../components/revolution_slider/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../components/revolution_slider/css/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../components/jquery.bxslider/jquery.bxslider.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../components/flexslider/flexslider.css" media="screen" />
    
    <!-- Main Style -->
    <link id="main-style" rel="stylesheet" href="../css/style.css"/>
    
    <!-- Custom Styles -->
    <link rel="stylesheet" href="../css/custom.css"/>

    <!-- Updated Styles -->
    <link rel="stylesheet" href="../css/updates.css"/>

    <!-- Updated Styles -->
    <link rel="stylesheet" href="../css/updates.css"/>
    
    <!-- Responsive Styles -->
    <link rel="stylesheet" href="../css/responsive.css"/>
    
     <!-- Javascript -->
    <script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../js/jquery.noconflict.js"></script>
    <script type="text/javascript" src="../js/modernizr.2.7.1.min.js"></script>
    <script type="text/javascript" src="../js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="../js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="../js/jquery-ui.1.10.4.min.js"></script>
    
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    
    <!-- load revolution slider scripts -->
    <script type="text/javascript" src="../components/revolution_slider/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="../components/revolution_slider/js/jquery.themepunch.revolution.min.js"></script>
    
    <!-- load BXSlider scripts -->
    <script type="text/javascript" src="../components/jquery.bxslider/jquery.bxslider.min.js"></script>

    <!-- Flex Slider -->
    <script type="text/javascript" src="../components/flexslider/jquery.flexslider.js"></script>

    <!-- parallax -->
    <script type="text/javascript" src="../js/jquery.stellar.min.js"></script>
    
    <!-- parallax -->
    <script type="text/javascript" src="../js/jquery.stellar.min.js"></script>

    <!-- waypoint -->
    <script type="text/javascript" src="../js/waypoints.min.js"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="../js/theme-scripts.js"></script>
    <script type="text/javascript" src="../js/scripts.js"></script>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD42aiyY1KpGr-PNxASc-iwlSdbiE1e8aI" type="text/javascript"></script>
    <!-- Javascript Page Loader -->
    <!-- <script type="text/javascript" src="js/pace.min.js" data-pace-options='{ "ajax": false }'></script>
    <script type="text/javascript" src="js/page-loading.js"></script> -->
</head>

