<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
<head>
    <!-- Page Title -->
    <title>TGC</title>
    
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Travelo | Responsive HTML5 Travel Template"/>
    <meta name="author" content="SoapTheme"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <!-- Theme Styles -->
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="../css/animate.min.css"/>
    
    <!-- Current Page Styles -->
    <link rel="stylesheet" type="text/css" href="../components/revolution_slider/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../components/revolution_slider/css/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../components/jquery.bxslider/jquery.bxslider.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../components/flexslider/flexslider.css" media="screen" />
    
    <!-- Main Style -->
    <link id="main-style" rel="stylesheet" href="../css/style.css"/>
    
    <!-- Custom Styles -->
    <link rel="stylesheet" href="../css/custom.css"/>

    <!-- Updated Styles -->
    <link rel="stylesheet" href="../css/updates.css"/>

    <!-- Updated Styles -->
    <link rel="stylesheet" href="../css/updates.css"/>
    
    <!-- Responsive Styles -->
    <link rel="stylesheet" href="../css/responsive.css"/>
    
    <!-- Javascript Page Loader -->
    <!-- <script type="text/javascript" src="js/pace.min.js" data-pace-options='{ "ajax": false }'></script>
    <script type="text/javascript" src="js/page-loading.js"></script> -->
</head>
<body>
    <div id="page-wrapper">
        <header id="header" class="navbar-static-top">
            
            <div class="main-header">
                
                <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">
                    Mobile Menu Toggle
                </a>

                <div class="container">
                    <h1 class="navbar-brand">
                        <a href="" title="Travelo - home">
                            <img src="images/tgclogo.png" alt="Travelo HTML5 Template" />
                        </a>
                    </h1>

                    <nav id="main-menu" role="navigation">
                        <ul class="menu">
                            <li class="menu-item-has-children">
                                <a href="/">Home</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="search-classes">Classes</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="centers">Centers</a>
                            </li>
                            <li class="menu-item-has-children">
                            	<a id="login-link" href="#travelo-login" onclick="clearErrorSpan()" class="soap-popupbox">LOGIN</a>
                            </li>
                            <li class="menu-item-has-children">
                        		<a id="signup-link" href="#travelo-signup"  onclick="clearErrorSpan()" class="soap-popupbox">SIGNUP</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <nav id="mobile-menu-01" class="mobile-menu collapse">
                    <ul id="mobile-primary-menu" class="menu">
                        <li class="menu-item-has-children">
                            <a href="/l">Home</a>
                        </li>
                        <li class="menu-item-has-children">
                                <a href="search-classes">Classes</a>
                        </li>
                        <li class="menu-item-has-children">
                                <a href="centers">Centers</a>
                        </li>
                        <li class="menu-item-has-children">
                            	<a id="login-link" href="#travelo-login" onclick="clearErrorSpan()" class="soap-popupbox">LOGIN</a>
                        </li>
                        <li class="menu-item-has-children">
                        		<a id="signup-link" href="#travelo-signup"  onclick="clearErrorSpan()" class="soap-popupbox">SIGNUP</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div id="travelo-signup" class="travelo-signup-box travelo-box">
                <div class="seperator"><label>SIGN UP</label></div>
                    <form action="openRegister" method="POST">
                        <div class="form-group">
                            <input id="signup-name" type="text" name="name" class="input-text full-width" placeholder="NAME" required="true"/>
                        </div>
                        <div class="form-group">
                            <div class="selector">
                                <select class="full-width" name="gender" placeholder="GENDER" required="true">
                                    <option value="Male">MALE</option>
                                    <option value="Female">FEMALE</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <input id="signup-email" type="email" name="email" class="input-text full-width" placeholder="EMAIL ADDRESS" required="true"/>
                        </div>
                        <div class="form-group">
                            <input id="signup-password" type="password" name="password" class="input-text full-width" placeholder="PASSWORD" required="true"/>
                        </div>
                        <div class="form-group">
                            <input id="signup-confirmPassword" type="password" name="confirmPassword" class="input-text full-width" placeholder="CONFIRM PASSWORD" required="true"/>
                        </div>
                        <div class="form-group">
                            <input id="signup-mobile" type="text" name="mobile" class="input-text full-width" placeholder="MOBILE" required="true"/>
                        </div>
                        <div class="form-group">
                            <input id="signup-refrralCode" type="text" name="refrralCode" class="input-text full-width" placeholder="REFRRAL CODE" required="true"/>
                        </div>
                        <button type="submit" class="full-width btn-medium">SIGN UP NOW</button>
                    </form>
                <div class="seperator"></div>
                <p>Have an Account? <a href="#travelo-login" class="goto-login soap-popupbox">Log in here</a></p>
                <div style="color: red;">
                	<span id="signup-error-span"></span>
                </div>
            </div>

            <div id="travelo-login" class="travelo-login-box travelo-box">
                <div class="seperator"><label>LOG IN</label></div>
                <form action="openLogin" method="POST">
                    <div class="form-group">
                        <input id="login-email" type="email" name="email" class="input-text full-width" placeholder="EMAIL ADDRESS" required="true"/>
                    </div>
                    <div class="form-group">
                        <input id="login-password" type="password" name="password" class="input-text full-width" placeholder="PASSWORD" required="true"/>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="full-width btn-medium">LOGIN IN NOW</button>
                    </div>
                    <div class="form-group">
                        <a href="#" class="forgot-password pull-right">Reset password?</a>
                    </div>
                </form>
                <div class="seperator"></div>
                <div style="color: red;">
                	<span id="login-error-span"></span>
                </div>
                
            </div>

        </header>
        <div id="slideshow">
            <div class="fullwidthbanner-container">
                <div class="revolution-slider" style="height: 0; overflow: hidden;">
                    <ul>
                        <li data-transition="zoomin" data-slotamount="7" data-masterspeed="1500">
                            <img src="images/classes/classes-home-1.jpg" alt=""/>
                        </li>
                        <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500">
                            <img src="images/classes/classes-home-2.jpg" alt=""/>
                        </li>
                        <li data-transition="slidedown" data-slotamount="7" data-masterspeed="1500">
                            <img src="images/classes/classes-home-3.jpg" alt=""/>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            
<!--         <section id="content">
        </section> -->
        
        <footer id="footer">
<!--             <div class="footer-wrapper">
            </div> -->
            <div class="bottom gray-area">
                <div class="container">
                    <div class="pull-left">
                        <a href="/" title="Travelo - home">
                            <img src="images/tgclogo.png" alt="Travelo HTML5 Template" />
                        </a>
                    </div>
                    <div class="pull-right">
                        <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
                    </div>
                    <div class="copyright pull-right">
                        <p>&copy; 2017 TGC</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <!-- Javascript -->
    <script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../js/jquery.noconflict.js"></script>
    <script type="text/javascript" src="../js/modernizr.2.7.1.min.js"></script>
    <script type="text/javascript" src="../js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="../js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="../js/jquery-ui.1.10.4.min.js"></script>
    
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    
    <!-- load revolution slider scripts -->
    <script type="text/javascript" src="../components/revolution_slider/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="../components/revolution_slider/js/jquery.themepunch.revolution.min.js"></script>
    
    <!-- load BXSlider scripts -->
    <script type="text/javascript" src="../components/jquery.bxslider/jquery.bxslider.min.js"></script>

    <!-- Flex Slider -->
    <script type="text/javascript" src="../components/flexslider/jquery.flexslider.js"></script>

    <!-- parallax -->
    <script type="text/javascript" src="../js/jquery.stellar.min.js"></script>
    
    <!-- parallax -->
    <script type="text/javascript" src="../js/jquery.stellar.min.js"></script>

    <!-- waypoint -->
    <script type="text/javascript" src="../js/waypoints.min.js"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="../js/theme-scripts.js"></script>
    <script type="text/javascript" src="../js/scripts.js"></script>
    
    <script type="text/javascript">
        tjq(document).ready(function() {
            tjq('.revolution-slider').revolution(
            {
                dottedOverlay:"none",
                delay:8000,
                startwidth:1170,
                startheight:646,
                onHoverStop:"on",
                hideThumbs:10,
                fullWidth:"on",
                forceFullWidth:"on",
                navigationType:"none",
                shadow:0,
                spinner:"spinner4",
                hideTimerBar:"on",
            });
        });
    </script>
    
    <script th:inline="javascript">

	    var popup = [[${popup}]];
	    var message = [[${message}]];
	    var email = [[${email}]];
	    var password = [[${password}]];
	    var name = [[${name}]];
	    var confirmPassword = [[${confirmPassword}]];
	    var mobile = [[${mobile}]];
	    var refrralCode = [[${refrralCode}]];

	    var openDialog = function() {
    		if(popup == 'LOGIN') {
    	    	document.getElementById('login-link').click();
    	    	setTimeout(function() {
    	    		jQuery('#login-error-span').after('<p id="notfind">' + message + '</p>');
    	    		jQuery('#login-email').val(email);
    	    		jQuery('#login-password').val(password);
    	    	},300);

    		} else if(popup = 'SIGNUP') {
    	    	document.getElementById('signup-link').click();
    	    	setTimeout(function() {
    	    		jQuery('#signup-error-span').after('<p id="notfind">' + message + '</p>');
    	    		jQuery('#signup-email').val(email);
    	    		jQuery('#signup-password').val(password);
    	    		jQuery('#signup-name').val(name);
    	    		jQuery('#signup-confirmPassword').val(confirmPassword);
    	    		jQuery('#signup-mobile').val(mobile);
    	    		jQuery('#signup-refrralCode').val(refrralCode);
    	    	},300);
    		}
    	}
	    
	    function clearErrorSpan(){
	    	setTimeout(function() {
	    		jQuery('#notfind').hide();
	    		jQuery('#login-email').val("");
	    		jQuery('#login-password').val("");
	    		jQuery('#signup-email').val("");
	    		jQuery('#signup-password').val("");
	    		jQuery('#signup-name').val("");
	    		jQuery('#signup-confirmPassword').val("");
	    		jQuery('#signup-mobile').val("");
	    		jQuery('#signup-refrralCode').val("");
	    	},100);
	    	
	    }
	   
	    if(message) {
	    	setTimeout(openDialog,500);
	    }
	</script>

</body>
</html>

