<html>
   <head lang="en" th:include="header :: header"></head>
<body>
     <div lang="en" th:include="navigation :: navigation"> </div>
    <div id="page-wrapper">


<div id="carousel_main" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" style="height: 632px; max-height: 70vw">
    <div class="item text-center">
      <div><img src="images/Asset1.png"/></div><div class="text-normal media-middle" style="max-width: 388px;">
      <div class="text1 text-uppercase">FOR PATENTS, BY PARENTS</div>
      <div>As parents ourselves, we understand the tedious process of booking enrichment classes. That's why we've created a free-to-use service that lets you book the best classes for your kid.</div>
      <div class="text-uppercase"><a class="clickable next soap-popupbox" href="#travelo-signup" onclick="clearErrorSpan()">SIGN UP NOW</a></div>
      </div>
    </div>
    <div class="item text-center">
      <div><img src="images/Asset2.png"/></div><div class="text-normal media-middle" style="max-width: 495px; margin-left: -50px;">
      <div class="text1 text-uppercase" style="font-size: 45px;">THOUSANDS OF CLASSES TO SUIT<br></br>YOUR CHILD'S NEED</div>
      <div>Pick from a wide variety of courses that are<br></br>grouped into 10 simple categories.</div>
      <div class="text-uppercase"><a href="/category">BROWSE CATEGORIES</a></div>
      </div>
    </div>
    <div class="item text-center active">
      <div class="text-normal media-middle" style="max-width: 485px;">
      <div class="text1 text-uppercase">ONLY PAY<br></br>WHEN YOU BOOK</div>
      <div>Explore and discover classes for free.<br></br>Plus, get rewarded when you sign up.</div>
      <div class="text-uppercase"><a href="/getstarted">HOW IT WORKS</a></div>
      </div><div class="slider-images"><img src="images/Asset3.png"/></div>
    </div>
    <div class="item text-center">
      <div><img src="images/Asset4.png"/></div><div class="text-normal media-middle" style="max-width: 443px;">
      <div class="text1 text-uppercase">ONLY THE BEST</div>
      <div>These trusted educators have been carefully hand-picked by us, so that parents can enjoy peace of mind.</div>
      <div class="text-uppercase"><a class="clickable next soap-popupbox" href="#travelo-signup" onclick="clearErrorSpan()">CLICK TO FIND OUT MORE</a></div>
      </div>
    </div>
  </div>
<ol class="carousel-indicators"><li data-target="#carousel_main" data-slide-to="0" class=""></li><li data-target="#carousel_main" data-slide-to="1" class=""></li><li data-target="#carousel_main" data-slide-to="2" class="active"></li><li data-target="#carousel_main" data-slide-to="3" class=""></li></ol><a href="#carousel_main" role="button" class="left carousel-control" data-slide="prev"><span class="fa fa-angle-left" aria-hidden="true"></span></a><a href="#carousel_main" role="button" class="right carousel-control" data-slide="next"><span class="fa fa-angle-right" aria-hidden="true"></span></a></div>

        
<div class="block1">
<div><a th:href="${'/center-classes?centerId=' + promos.centerOneId}" style="display: block; "><img th:src="${'getImage/' + promos.promoImageOne}" class="width-100"/></a></div>
<div><a th:href="${'/center-classes?centerId=' + promos.centerTwoId}" style="display: block; "><img th:src="${'getImage/' + promos.promoImageTwo}" class="width-100"/></a></div>
<div><a th:href="${'/center-classes?centerId=' + promos.centerThreeId}" style="display: block; "><img th:src="${'getImage/' + promos.promoImageThree}" class="width-100"/></a></div>
<div><a th:href="${'/center-classes?centerId=' + promos.centerFourId}" style="display: block; "><img th:src="${'getImage/' + promos.promoImageFour}" class="width-100"/></a></div>
</div>
        
    </div>
      <div lang="en" th:include="footer :: footer"></div>
      <script th:include="footer :: loginScript" th:inline="javascript"></script> 
          
   <script type="text/javascript">
        tjq(document).ready(function() {
            tjq('.revolution-slider').revolution(
            {
                dottedOverlay:"none",
                delay:8000,
                startwidth:1170,
                startheight:646,
                onHoverStop:"on",
                hideThumbs:10,
                fullWidth:"on",
                forceFullWidth:"on",
                navigationType:"none",
                shadow:0,
                spinner:"spinner4",
                hideTimerBar:"on",
            });
        });
    </script>
</body>
</html>

