<html>
   <head lang="en" th:include="header :: header"></head>
<body>
     <div lang="en" th:include="navigation :: navigation"> </div>
    <div id="page-wrapper">


<div id="carousel_main" class="carousel slide" data-ride="carousel">
	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox" style="height: 632px; max-height: 70vw">
		<div class="item text-center" th:each="slide, iter : ${slides}" th:classappend="${iter.index == 0} ? 'active' : ''">
			<div><img th:src="${slide.imageUrl}"/></div>
			<div class="text-normal media-middle" style="max-width: 443px;">
				<div class="text1 text-uppercase" th:text="${slide.title}"></div>
				<div th:text="${slide.description}"></div>
				<div class="text-uppercase">
					<a class="clickable next soap-popupbox"  th:href="${slide.url}" onclick="clearErrorSpan()" th:text="${slide.urlTitle}"></a>
				</div>
			</div>
		</div>
	</div>
	<a href="#carousel_main" role="button" class="left carousel-control" data-slide="prev"><span class="fa fa-angle-left" aria-hidden="true"></span></a>
	<a href="#carousel_main" role="button" class="right carousel-control" data-slide="next"><span class="fa fa-angle-right" aria-hidden="true"></span></a>
</div>

<div class="row" th:if="${promos != null}">
	<div class="col-md-3 promo"><a th:href="${promos.promoUrlOne}"><img th:src="${promos.promoImageOne}" class="width-100" style="height:180px;"/></a></div>
	<div class="col-md-3 promo"><a th:href="${promos.promoUrlTwo}"><img th:src="${promos.promoImageTwo}" class="width-100" style="height:180px;"/></a></div>
	<div class="col-md-3 promo"><a th:href="${promos.promoUrlThree}"><img th:src="${promos.promoImageThree}" class="width-100" style="height:180px;"/></a></div>
	<div class="col-md-3 promo"><a th:href="${promos.promoUrlFour}"><img th:src="${promos.promoImageFour}" class="width-100" style="height:180px;"/></a></div>
</div>
        
    </div>
      <div lang="en" th:include="footer :: footer"></div>
      <script th:include="footer :: loginScript" th:inline="javascript"></script> 
          
   <script type="text/javascript">
        tjq(document).ready(function() {
            tjq('.revolution-slider').revolution(
            {
                dottedOverlay:"none",
                delay:8000,
                startwidth:1170,
                startheight:646,
                onHoverStop:"on",
                hideThumbs:10,
                fullWidth:"on",
                forceFullWidth:"on",
                navigationType:"none",
                shadow:0,
                spinner:"spinner4",
                hideTimerBar:"on",
            });
        });
    </script>
</body>
</html>

