<html>
<head lang="en" th:include="header :: header"></head>
<body>
	<div lang="en" th:include="navigation :: navigation"></div>
	<div class="page-title-container">
		<div class="container">
			<div class="page-title pull-left">
				<h2 class="entry-title"></h2>
			</div>
			<ul class="breadcrumbs pull-right">
				<li><a href="/">HOME</a></li>
				<li class="active"></li>
			</ul>
		</div>
	</div>
	<section id="content" class="gray-area">
		<div class="container">

        <div class="col-lg-12">
          <h1 class="mainTagline">PARTNER WITH US </h1>
          <h2 class="mainSubline">The trusted brands in enrichment. </h2>
          <hr class="fullWidthDivider"></hr>
        </div>
        
        <div class="col-md-12">
          <div class="partnerPGBody">
            <h3>Say hello to our partners</h3>
            <p>Are you an educator who is interested to partner with Today Got Class? </p>
            <p>#FORPARENTSBYPARENTS is the driving force behind everything we do. We’re always looking for enrichment partners who share our passion for kids and healthy learning.  If you share our inspiration and believe in improving user experiences with scalable technology – we would love to hear from you at hello@todaygotclass.com. </p>
          </div>
        </div>
        
        <div class="col-md-12">
          <div class="partnerBlocksEnc">
            <div class="partnerBlock">
              <a><img src="images/partner-one.png" alt="Find Now!" class="img-responsive"/></a>
            </div>
            
            
            <div class="partnerBlock">
              <a><img src="images/partner-two.png" alt="Find Now!" class="img-responsive"/></a>
            </div>
            
            <div class="partnerBlock">
              <a><img src="images/partner-three.png" alt="Find Now!" class="img-responsive"/></a>
            </div>
            
            
            <div class="partnerBlock">
              <a><img src="images/partner-four.png" alt="Find Now!" class="img-responsive"/></a>
            </div>
          </div>
        </div>

		</div>
	</section>

	<div lang="en" th:include="footer :: footer"></div>
	<script th:include="footer :: loginScript" th:inline="javascript"></script>
	
</body>
</html>


