<html>
<head lang="en" th:include="header :: header"></head>
<body>
	<div lang="en" th:include="navigation :: navigation"></div>
	<div class="page-title-container">
		<div class="container">
			<div class="page-title pull-left">
				<h2 class="entry-title">PAYPAL PAYMENT</h2>
			</div>
			<ul class="breadcrumbs pull-right">
				<li><a href="/">HOME</a></li>
				<li class="active">Paypal Payment</li>
			</ul>
		</div>
	</div>

	<section id="content" class="gray-area">
		<div class="container text-left shortcode">
			<div class="block">
				<div class="row">
					<div id="main">
						<div class="alert"  th:classappend="${status} ? 'alert-success' : 'alert-error'">
							<div style="text-align: center">
								<h1 th:text="'Payment ' + ${ack}"></h1>
								<h2 th:text="${message}"></h2>
								<a class="button btn-small text-center"
									title="return to my cart" href="/my-cart">OK</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div lang="en" th:include="footer :: footer"></div>
</body>
</html>

