<html>
<head lang="en" th:include="header :: header"></head>
<body>
	<div lang="en" th:include="navigation :: navigation"></div>
	<div class="page-title-container">
		<div class="container">
			<div class="page-title pull-left">
				<h2 class="entry-title">Profile</h2>
			</div>
			<ul class="breadcrumbs pull-right">
				<li><a href="/">HOME</a></li>
				<li class="active">Profile</li>
			</ul>
		</div>
	</div>
	<ul id="messages" th:with="notifyMessages=${session[T(com.go2.classes.business.service.impl.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}">
			<li th:each="msg:${notifyMessages}" th:text="${msg.text}" th:class="${#strings.toLowerCase(msg.type)}"/>
			<span th:if="${notifyMessages}" th:remove="all"	th:text="${session.remove(T(com.go2.classes.business.service.impl.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY)}"></span>
	</ul>
	<!-- <div class="alert alert-error">
		Error: Name, Email and Message fields are required<br>Error: Invalid email address							<span class="close"></span>
	</div>	 -->
	<section id="content" class="gray-area">
		<div class="container">
			<div class="row">
				<div id="main" class="col-sms-6 col-sm-8 col-md-9">
					<div class="booking-section travelo-box">
						<div class="person-information">
							<h2>Your Child Information</h2>
							<div class="form-group listing-style1" th:if="${childs != null}">
								<article th:each="child : ${childs}"
									class="col-sms-6 col-sm-6 col-md-4 gray-area"
									style="padding:20px;margin-right:20px;">
									<a title="" class="hover-effect" th:href="${'/editChild?childId=' + child.id}">
										<ul>
											<li>Name : <label th:text="${child.name}"></label></li>
											<li>Gender : <label th:text="${child.gender}"></label></li>
											<li>Location : <label th:text="${child.location}"></label></li>
										</ul>
									</a>
									<a class="btn-medium icon-check uppercase full-width" th:href="${'/find-class?childId=' + child.id}">FIND CLASS NOW</a>
								</article>
							</div>
						</div>
						<hr />
						<div class="person-information">
							<div class="form-group row">
								<div class="col-sm-12 col-md-12">
									<a class="button btn-small text-center" title=""
										th:href="${'/add-child'}">ADD CHILD</a>
								</div>
							</div>
							<hr />
							<form action="updateStudent" method="POST">
								<h2>Your Personal Information</h2>
								<div class="form-group row">
									<div class="col-sm-6 col-md-5">
										<input type="hidden" name="id" th:value="${user.id}" /> <label>Name</label>
										<input type="text" name="name" class="input-text full-width"
											placeholder="" th:value="${user.name}" required="true" />
									</div>
									<div class="col-sm-6 col-md-5">
										<label>Gender</label>
										<div class="selector">
											<select name="gender" class="full-width" required="true">
												<option value="Male" th:selected="${user.gender == 'Male'}">Male</option>
												<option value="Female" th:selected="${user.gender == 'Female'}">Female</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-6 col-md-5">
										<label>Email address</label> <input type="email" name="email"
											class="input-text full-width" th:value="${user.email}"
											placeholder="" required="true" />
									</div>
									<div class="col-sm-6 col-md-5">
										<label>Mobile</label> <input type="text" name="mobile"
											class="input-text full-width" th:value="${user.phone}"
											placeholder="" required="true" />
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-6 col-md-5">
										<label>Refrral Code</label> <input type="text"
											name="refrralCode" class="input-text full-width"
											th:value="${user.refrralCode}" placeholder="" required="true" />
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-6 col-md-5">
										<button type="submit"
											class="button btn-small text-center">SAVE</button>
									</div>
								</div>
							</form>
						</div>
						<hr />
						<div class="person-information">
							<h2>Your Booking Information</h2>
							<div class="form-group row"></div>

						</div>
					</div>
				</div>
				<div class="sidebar col-sms-6 col-sm-4 col-md-3"></div>
			</div>
		</div>
	</section>

	<div lang="en" th:include="footer :: footer"></div>
	<script th:include="footer :: loginScript" th:inline="javascript"></script>
</body>
</html>


