<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
<head>
    <!-- Page Title -->
    <title>TGC</title>
    
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Travelo | Responsive HTML5 Travel Template"/>
    <meta name="author" content="SoapTheme"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <!-- Theme Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="css/animate.min.css"/>
    
    <!-- Current Page Styles -->
    <link rel="stylesheet" type="text/css" href="components/revolution_slider/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="components/revolution_slider/css/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="components/jquery.bxslider/jquery.bxslider.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="components/flexslider/flexslider.css" media="screen" />
    
    <!-- Main Style -->
    <link id="main-style" rel="stylesheet" href="css/style.css"/>
    
    <!-- Custom Styles -->
    <link rel="stylesheet" href="css/custom.css"/>

    <!-- Updated Styles -->
    <link rel="stylesheet" href="css/updates.css"/>

    <!-- Updated Styles -->
    <link rel="stylesheet" href="css/updates.css"/>
    
    <!-- Responsive Styles -->
    <link rel="stylesheet" href="css/responsive.css"/>
    
    <!-- CSS for IE -->
    <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="css/ie.css" />
    <![endif]-->
    
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type='text/javascript' src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->

    <!-- Javascript Page Loader -->
    <!-- <script type="text/javascript" src="js/pace.min.js" data-pace-options='{ "ajax": false }'></script>
    <script type="text/javascript" src="js/page-loading.js"></script> -->
</head>
<body>
    <div id="page-wrapper">
        <header id="header" class="navbar-static-top">
            
            <div class="main-header">
                
                <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">
                    Mobile Menu Toggle
                </a>

                <div class="container">
                    <h1 class="navbar-brand">
                        <a href="" title="Travelo - home">
                            <img src="images/tgclogo.png" alt="Travelo HTML5 Template" />
                        </a>
                    </h1>
                    <nav id="main-menu" role="navigation">
                        <ul class="menu">
                            <li class="menu-item-has-children">
                                <a href="/">Home</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="search-classes">Classes</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="centers">Centers</a>
                            </li>
                            <li class="menu-item-has-children">
                            	<a id="login-link" href="#travelo-login" onclick="clearErrorSpan()" class="soap-popupbox">LOGIN</a>
                            </li>
                            <li class="menu-item-has-children">
                        		<a id="signup-link" href="#travelo-signup"  onclick="clearErrorSpan()" class="soap-popupbox">SIGNUP</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <nav id="mobile-menu-01" class="mobile-menu collapse">
                    <ul id="mobile-primary-menu" class="menu">
                        <li class="menu-item-has-children">
                            <a href="/l">Home</a>
                        </li>
                        <li class="menu-item-has-children">
                                <a href="search-classes">Classes</a>
                        </li>
                        <li class="menu-item-has-children">
                                <a href="centers">Centers</a>
                        </li>
                        <li class="menu-item-has-children">
                            	<a id="login-link" href="#travelo-login" onclick="clearErrorSpan()" class="soap-popupbox">LOGIN</a>
                        </li>
                        <li class="menu-item-has-children">
                        		<a id="signup-link" href="#travelo-signup"  onclick="clearErrorSpan()" class="soap-popupbox">SIGNUP</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Classes Search Results</h2>
                </div>
                <ul class="breadcrumbs pull-right">
                    <li><a href="/">HOME</a></li>
                    <li class="active">Classes Search Results</li>
                </ul>
            </div>
        </div>
            
        <section id="content">
            <div class="container">
                <div id="main">
        
				<div class="row">
                        <div class="col-sm-4 col-md-3">
                            <h4 class="search-results-title"><i class="soap-icon-search"></i><b>FIND A CLASS</b></h4>
                            <div class="toggle-container filters-container">
                            <form action="searchCenters" method="post">

                                <div class="panel style1 arrow-right">
                                        <div class="panel-content">
                                                <div class="form-group">
                                                    <label>AGE</label>
                                                    <input type="number" name="age" min="1" max="100" class="input-text full-width" placeholder="AGE"/>
                                                </div>
                                                <div class="form-group">
                                                    <label>Select a location</label>
							                        <div class="selector">
							                            <select class="full-width" name="area">
							                                <option value="ALL">ALL</option>
							                                <option value="HONG KONG">HONG KONG</option>
							                                <option value="KOWLOON">KOWLOON</option>
							                                <option value="NEW TERRITORIES">NEW TERRITORIES</option>
							                            </select>
							                        </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Start Date</label>
                                                    <div class="datepicker-wrap">
                                                        <input type="text" name="startDate" class="input-text full-width" placeholder="mm/dd/yy" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>CENTER</label>
                                                    <input type="text" name="center" class="input-text full-width" placeholder="CENTER"/>
                                                </div>
                                        </div>
                                </div>
                                
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#accomodation-type-filter" class="collapsed">INTEREST</a>
                                    </h4>
                                    <div id="accomodation-type-filter" class="panel-collapse collapse">
                                        <div class="panel-content">
											<div class="row checkbox-row">
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="interest" type="checkbox" value="1">Music &amp; Dance</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="interest" type="checkbox" value="2">Brain Training</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="interest" type="checkbox" value="3">Science, Technology, Engineering, Math</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="interest" type="checkbox" value="4">English Literacy</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="interest" type="checkbox" value="5">Chinese Literacy</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="interest" type="checkbox" value="6">Life Skills</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="interest" type="checkbox" value="7">Sports</input></label>
								                </div>
								            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#accomodation-type-filter1" class="collapsed">DAY</a>
                                    </h4>
                                    <div id="accomodation-type-filter1" class="panel-collapse collapse">
                                        <div class="panel-content">
											<div class="row checkbox-row">
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="day" type="checkbox" value="Sunday">Sunday</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="day" type="checkbox" value="Monday">Monday</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="day" type="checkbox" value="Tuesday">Tuesday</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="day" type="checkbox" value="Wednesday">Wednesday</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="day" type="checkbox" value="Thursday">Thursday</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="day" type="checkbox" value="Friday">Friday</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="day" type="checkbox" value="Saturday">Saturday</input></label>
								                </div>
								            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#accomodation-type-filter2" class="collapsed">TIME</a>
                                    </h4>
                                    <div id="accomodation-type-filter2" class="panel-collapse collapse">
                                        <div class="panel-content">
											<div class="row checkbox-row">
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="time" type="checkbox" value="1">7am - 9am</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="time" type="checkbox" value="2">9am - 12pm</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="time" type="checkbox" value="3">12pm - 3pm</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="time" type="checkbox" value="4">3pm - 6pm</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="time" type="checkbox" value="5">6pm - 9pm</input></label>
								                </div>
								            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#price-filter" class="collapsed">PRICE</a>
                                    </h4>
                                    <div id="price-filter" class="panel-collapse collapse">
                                        <div class="panel-content">
                                            <div id="price-range"></div>
                                            <br />
                                            <input name="minFees" style="border:none;" class="min-price-label pull-left"></input>
                                            <input name="maxFees" style="border:none; text-align:end;" class="max-price-label pull-right"></input>
                                            <div class="clearer"></div>
                                        </div><!-- end content -->
                                    </div>
                                </div>
                                                                
                                <div class="panel style1 arrow-right">
                                	<button type="submit" class="btn-medium icon-check uppercase full-width">FIND ME A CLASS NOW</button>
                                </div>
                            </form>
                            </div>
                        </div>
                        <!-- <div class="col-sm-8 col-md-9" style="background: white; height: 100%;">
					       	 <div id="slideshow">
					            <div class="fullwidthbanner-container">
					                <div class="revolution-slider" style="height: 0; overflow: hidden;">
					                    <ul>    SLIDE 
					                        Slide1
					                        <li data-transition="zoomin" data-slotamount="7" data-masterspeed="1500">
					                            MAIN IMAGE
					                            <img src="images/classes/classes-home-1.jpg" alt=""/>
					                        </li>
					                        
					                        Slide2
					                        <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500">
					                            MAIN IMAGE
					                            <img src="images/classes/classes-home-2.jpg" alt=""/>
					                        </li>
					                        
					                        Slide3
					                        <li data-transition="zoomin" data-slotamount="7" data-masterspeed="1500">
					                            MAIN IMAGE
					                            <img src="images/classes/classes-home-3.jpg" alt=""/>
					                        </li>
					                    </ul>
					                </div>
					            </div>
					        </div>
						</div> -->
						<div class="col-sm-8 col-md-9">
                            <div class="row image-box listing-style2">
                                <div class="col-sms-6 col-sm-6 col-md-4" th:each="center : ${centers}">
                                    <article class="box">
                                        <figure style="text-align:center">
                                        	<a th:href="${'/center-classes-search?centerId=' + center.centerId}" title="" class="hover-effect">
                                            <img th:src="${'getImage/' + center.logoName}" alt="" style="height:100px;width:auto;" />
                                            </a>
                                        </figure>
                                        <div class="details">
                                            <h4 class="box-title" th:text="${center.centerName}"></h4>
                                            <label class="price-wrapper">
                                                <span class="price-per-unit"  th:text="${center.classCount}"></span>classes
                                            </label>
                                        </div>
                                    </article>
                                </div>
                            </div>
						</div>
                </div>
                </div> <!-- main -->
             </div> <!-- container -->
        
         </section>
        
        <footer id="footer">
            <div class="bottom gray-area">
                <div class="container">
                    <div class="pull-left">
                        <a href="/" title="Travelo - home">
                            <img src="images/tgclogo.png" alt="Travelo HTML5 Template" />
                        </a>
                    </div>
                    <div class="pull-right">
                        <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
                    </div>
                    <div class="copyright pull-right">
                        <p>&copy; 2017 TGC</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <!-- Javascript -->
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.noconflict.js"></script>
    <script type="text/javascript" src="js/modernizr.2.7.1.min.js"></script>
    <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="js/jquery-ui.1.10.4.min.js"></script>
    
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    
    <!-- load revolution slider scripts -->
    <script type="text/javascript" src="components/revolution_slider/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="components/revolution_slider/js/jquery.themepunch.revolution.min.js"></script>
    
    <!-- load BXSlider scripts -->
    <script type="text/javascript" src="components/jquery.bxslider/jquery.bxslider.min.js"></script>

    <!-- Flex Slider -->
    <script type="text/javascript" src="components/flexslider/jquery.flexslider.js"></script>

    <!-- parallax -->
    <script type="text/javascript" src="js/jquery.stellar.min.js"></script>
    
    <!-- parallax -->
    <script type="text/javascript" src="js/jquery.stellar.min.js"></script>

    <!-- waypoint -->
    <script type="text/javascript" src="js/waypoints.min.js"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="js/theme-scripts.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    
    <script type="text/javascript">
        tjq(document).ready(function() {
            tjq('.revolution-slider').revolution(
            {
                dottedOverlay:"none",
                delay:8000,
                startwidth:1170,
                startheight:646,
                onHoverStop:"on",
                hideThumbs:10,
                fullWidth:"on",
                forceFullWidth:"on",
                navigationType:"none",
                shadow:0,
                spinner:"spinner4",
                hideTimerBar:"on",
            });
        });
    </script>

    <script type="text/javascript">
        tjq(document).ready(function() {
            tjq("#price-range").slider({
                range: true,
                min: 0,
                max: 1000,
                values: [ 100, 800 ],
                slide: function( event, ui ) {
                    tjq(".min-price-label").val( "$" + ui.values[ 0 ]);
                    tjq(".max-price-label").val( "$" + ui.values[ 1 ]);
                }
            });
            tjq(".min-price-label").html( "$" + tjq("#price-range").slider( "values", 0 ));
            tjq(".max-price-label").html( "$" + tjq("#price-range").slider( "values", 1 ));
        });
    </script>
    
    <script th:inline="javascript">

	    var popup = [[${popup}]];
	    var message = [[${message}]];
	    var email = [[${email}]];
	    var password = [[${password}]];
	    var name = [[${name}]];
	    var confirmPassword = [[${confirmPassword}]];
	    var mobile = [[${mobile}]];
	    var refrralCode = [[${refrralCode}]];

	    var openDialog = function() {
    		if(popup == 'LOGIN') {
    	    	document.getElementById('login-link').click();
    	    	setTimeout(function() {
    	    		jQuery('#login-error-span').after('<p id="notfind">' + message + '</p>');
    	    		jQuery('#login-email').val(email);
    	    		jQuery('#login-password').val(password);
    	    	},300);

    		} else if(popup = 'SIGNUP') {
    	    	document.getElementById('signup-link').click();
    	    	setTimeout(function() {
    	    		jQuery('#signup-error-span').after('<p id="notfind">' + message + '</p>');
    	    		jQuery('#signup-email').val(email);
    	    		jQuery('#signup-password').val(password);
    	    		jQuery('#signup-name').val(name);
    	    		jQuery('#signup-confirmPassword').val(confirmPassword);
    	    		jQuery('#signup-mobile').val(mobile);
    	    		jQuery('#signup-refrralCode').val(refrralCode);
    	    	},300);
    		}
    	}
	    
	    function clearErrorSpan(){
	    	setTimeout(function() {
	    		jQuery('#notfind').hide();
	    		jQuery('#login-email').val("");
	    		jQuery('#login-password').val("");
	    		jQuery('#signup-email').val("");
	    		jQuery('#signup-password').val("");
	    		jQuery('#signup-name').val("");
	    		jQuery('#signup-confirmPassword').val("");
	    		jQuery('#signup-mobile').val("");
	    		jQuery('#signup-refrralCode').val("");
	    	},100);
	    	
	    }
	   
	    if(message) {
	    	setTimeout(openDialog,500);
	    }
	</script>

</body>
</html>
<style>
	.fullwidthbanner-container{
		left:0px !important;
	}
	.tp-rightarrow{
		right:10px !important;
	}
	.tp-leftarrow{
		left:10px !important;
	}
</style>
