<html>
   <head lang="en" th:include="header :: header"></head>
<body>
    	<div lang="en" th:include="navigation :: navigation"> </div>
        <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Classes Search Results</h2>
                </div>
                <ul class="breadcrumbs pull-right">
                    <li><a href="/">HOME</a></li>
                    <li class="active">Classes Search Results</li>
                </ul>
            </div>
        </div>
            
        <section id="content">
            <div class="container">
                <div id="main">
        
				<div class="row">
                        <div class="col-sm-4 col-md-3">
                            <h4 class="search-results-title"><i class="soap-icon-search"></i><b>FIND A CLASS</b></h4>
                            <div class="toggle-container filters-container">
                            <form action="searchCenters" method="post">

                                <div class="panel style1 arrow-right">
                                        <div class="panel-content">
                                                <div class="form-group">
                                                    <label>AGE</label>
                                                    <input type="number" name="age" min="1" max="100" class="input-text full-width" th:value="${session.classesSearch.age}" placeholder="AGE"/>
                                                </div>
                                                <div class="form-group">
                                                    <label>Select a location</label>
							                        <div class="selector">
							                            <select class="full-width" name="area">
							                                <option value="ALL" th:selected="${session.classesSearch.area == 'ALL'}">ALL</option>
							                                <option value="HONG KONG" th:selected="${session.classesSearch.area == 'HONG KONG'}">HONG KONG</option>
							                                <option value="KOWLOON" th:selected="${session.classesSearch.area == 'KOWLOON'}">KOWLOON</option>
							                                <option value="NEW TERRITORIES" th:selected="${session.classesSearch.area == 'NEW TERRITORIES'}">NEW TERRITORIES</option>
							                            </select>
							                        </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Start Date</label>
                                                    <div>
                                                        <input type="text" name="startDate" class="date-input input-text full-width" data-date-format="yyyy-mm-dd" th:value="${session.classesSearch.startDate}" placeholder="mm/dd/yy" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>CENTER</label>
                                                    <input type="text" name="center" class="input-text full-width" th:value="${session.classesSearch.center}" placeholder="CENTER"/>
                                                </div>
                                        </div>
                                </div>
                                
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#accomodation-type-filter" class="collapsed">INTEREST</a>
                                    </h4>
                                    <div id="accomodation-type-filter" class="panel-collapse collapse">
                                        <div class="panel-content">
											<div class="row checkbox-row">
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="interest" type="checkbox" value="1" th:checked="${#lists.contains(session.classesSearch.interest, 1)}">Music &amp; Dance</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="interest" type="checkbox" value="2" th:checked="${#lists.contains(session.classesSearch.interest, 2)}">Brain Training</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="interest" type="checkbox" value="3" th:checked="${#lists.contains(session.classesSearch.interest, 3)}">Science, Technology, Engineering, Math</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="interest" type="checkbox" value="4" th:checked="${#lists.contains(session.classesSearch.interest, 4)}">English Literacy</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="interest" type="checkbox" value="5" th:checked="${#lists.contains(session.classesSearch.interest, 5)}">Chinese Literacy</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="interest" type="checkbox" value="6" th:checked="${#lists.contains(session.classesSearch.interest, 6)}">Life Skills</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="interest" type="checkbox" value="7" th:checked="${#lists.contains(session.classesSearch.interest, 7)}">Sports</input></label>
								                </div>
								            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#accomodation-type-filter1" class="collapsed">DAY</a>
                                    </h4>
                                    <div id="accomodation-type-filter1" class="panel-collapse collapse">
                                        <div class="panel-content">
											<div class="row checkbox-row">
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="day" type="checkbox" value="Sunday" th:checked="${#lists.contains(session.classesSearch.day, 'Sunday')}">Sunday</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="day" type="checkbox" value="Monday" th:checked="${#lists.contains(session.classesSearch.day, 'Monday')}">Monday</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="day" type="checkbox" value="Tuesday" th:checked="${#lists.contains(session.classesSearch.day, 'Tuesday')}">Tuesday</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="day" type="checkbox" value="Wednesday" th:checked="${#lists.contains(session.classesSearch.day, 'Wednesday')}">Wednesday</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="day" type="checkbox" value="Thursday" th:checked="${#lists.contains(session.classesSearch.day, 'Thursday')}">Thursday</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="day" type="checkbox" value="Friday" th:checked="${#lists.contains(session.classesSearch.day, 'Friday')}">Friday</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="day" type="checkbox" value="Saturday" th:checked="${#lists.contains(session.classesSearch.day, 'Saturday')}">Saturday</input></label>
								                </div>
								            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#accomodation-type-filter2" class="collapsed">TIME</a>
                                    </h4>
                                    <div id="accomodation-type-filter2" class="panel-collapse collapse">
                                        <div class="panel-content">
											<div class="row checkbox-row">
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="time" type="checkbox" value="420-540" th:checked="${#lists.contains(session.classesSearch.time, '420-540')}">7am - 9am</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="time" type="checkbox" value="540-720" th:checked="${#lists.contains(session.classesSearch.time, '540-720')}">9am - 12pm</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="time" type="checkbox" value="720-900" th:checked="${#lists.contains(session.classesSearch.time, '720-900')}">12pm - 3pm</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="time" type="checkbox" value="900-1080" th:checked="${#lists.contains(session.classesSearch.time, '900-1080')}">3pm - 6pm</input></label>
								                </div>
								                <div class="checkbox-inline" style="text-align:center;">
								                  <label class="checkbox-inline"><input name="time" type="checkbox" value="1080-1260" th:checked="${#lists.contains(session.classesSearch.time, '1080-1260')}">6pm - 9pm</input></label>
								                </div>
								            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#price-filter" class="collapsed">PRICE</a>
                                    </h4>
                                    <div id="price-filter" class="panel-collapse collapse">
                                        <div class="panel-content">
                                            <div id="price-range"></div>
                                            <br />
                                            <input name="minFees" style="border:none;width:50%;" class="min-price-label pull-left" th:value="${session.classesSearch.minFees}"></input>
                                            <input name="maxFees" style="border:none;text-align:end;width:50%;" class="max-price-label pull-right" th:value="${session.classesSearch.maxFees}"></input>
                                            <div class="clearer"></div>
                                        </div><!-- end content -->
                                    </div>
                                </div>
                                                                
                                <div class="panel style1 arrow-right">
                                	<button type="submit" class="btn-medium icon-check uppercase full-width">FIND ME A CLASS NOW</button>
                                </div>
                            </form>
                            </div>
                        </div>
                        <div th:if="${centers == null}" class="col-sm-8 col-md-9" style="background: white; height: 100%;">
					       	 <div id="slideshow">
					            <div class="fullwidthbanner-container">
					                <div class="revolution-slider" style="height: 0; overflow: hidden;">
					                    <ul>
					                        <li data-transition="zoomin" data-slotamount="7" data-masterspeed="1500">
					                            <img src="images/classes/classes-home-1.jpg" alt=""/>
					                        </li>
					                        <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500">
					                            <img src="images/classes/classes-home-2.jpg" alt=""/>
					                        </li>
					                        <li data-transition="zoomin" data-slotamount="7" data-masterspeed="1500">
					                            <img src="images/classes/classes-home-3.jpg" alt=""/>
					                        </li>
					                    </ul>
					                </div>
					            </div>
					        </div>
						</div>
						<div th:if="${centers != null}" class="col-sm-8 col-md-9">
                            <div class="row image-box listing-style2">
                                <div class="col-sms-6 col-sm-6 col-md-4" th:each="center : ${centers}">
                                    <article class="box">
                                        <figure style="text-align:center">
                                        	<a th:href="${'/center-classes-search?centerId=' + center.centerId}" title="" class="hover-effect">
                                            <img th:src="${'getImage/' + center.logoName}" alt="" style="height:100px;width:auto;" />
                                            </a>
                                        </figure>
                                        <div class="details">
                                            <h4 class="box-title" th:text="${center.centerName}"></h4>
                                            <label class="price-wrapper">
                                                <span class="price-per-unit"  th:text="${center.classCount}"></span>classes
                                            </label>
                                        </div>
                                    </article>
                                </div>
                            </div>
						</div>
                </div>
                </div> <!-- main -->
             </div> <!-- container -->
        
         </section>
        
        <div lang="en" th:include="footer :: footer"></div>
        <script th:include="footer :: loginScript" th:inline="javascript"></script> 
		<script type="text/javascript">
			jQuery('.date-input').datepicker({
			});
	
			tjq(document).ready(function() {
	            tjq('.revolution-slider').revolution(
	            {
	                dottedOverlay:"none",
	                delay:8000,
	                startwidth:1170,
	                startheight:646,
	                onHoverStop:"on",
	                hideThumbs:10,
	                fullWidth:"on",
	                forceFullWidth:"on",
	                navigationType:"none",
	                shadow:0,
	                spinner:"spinner4",
	                hideTimerBar:"on",
	            });
	        });
	    </script>
</body>
</html>
<style>
	.fullwidthbanner-container{
		left:0px !important;
	}
	.tp-rightarrow{
		right:10px !important;
	}
	.tp-leftarrow{
		left:10px !important;
	}
</style>
