<html>
<head lang="en" th:include="header :: header"></head>
<body>
	<div lang="en" th:include="navigation :: navigation"></div>
	<div class="page-title-container">
		<div class="container">
			<div class="page-title pull-left">
				<h2 class="entry-title"></h2>
			</div>
			<ul class="breadcrumbs pull-right">
				<li><a href="/">HOME</a></li>
				<li class="active"></li>
			</ul>
		</div>
	</div>
	<section id="content" class="gray-area">
		<div class="container">


			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>
				<strong><span style="text-decoration: underline;">TERMS
						OF USE </span></strong>
			</p>
			<p>&nbsp;</p>
			<p>These terms and conditions (the “Terms and Conditions”) govern
				the use of Today Got Class web portal (the “portal”).</p>
			<p>3BOYS Pte Ltd, incorporated in Singapore and having its
				registered address at 6 Battery Road #10-01 Singapore 049909, owns
				and operates the Today Got Class web portal where registered
				visitors of the portal are able to source for enrichment classes,
				holiday programs, camps and workshops (“educational programs”) from
				Education Providers registered on the portal. The terms “we”, “us”
				and “our” refer to 3BOYS Pte Ltd while the term “you” refers to the
				visitors or registered members of the web portal sourcing and/or
				booking of education activities.</p>
			<p>&nbsp;</p>
			<p>
				<strong>A. GENERAL</strong>
			</p>
			<ol>
				<li><strong><span style="text-decoration: underline;">
							Prohibited Activities</span></strong></li>
			</ol>
			<p>Unless otherwise noted, all contents and materials on the
				portal including but not limited to designs, text, graphics, icons,
				information, source code or software are the exclusive property of
				3BOYS Pte Ltd. Therefore, you agree not to reproduce, modify,
				re-sell, publicly display, distribute, publish, transfer or transmit
				in any manner the contents of this Site without the prior written
				consent of 3BOYS Pte Ltd.</p>
			<p>You agree that you will not use automation software (bots),
				hacks, mods or any other unauthorized third-party software designed
				to access, crawl or collect from services offered through Today Got
				Class web portal and/or Third Party Data and Services.</p>
			<p>You agree not to upload, post, email, or otherwise publish
				through this Site any Content:</p>
			<ol style="list-style-type: lower-roman;">
				<li>that is unlawful, harmful, threatening, abusive, harassing,
					defamatory, libelous, invasive of another’s privacy, or is harmful
					in any way;</li>
				<li>that is false, deceptive, misleading, deceitful or
					mis-informative</li>
				<li>that includes personal or identifying information about
					another person without that person’s explicit consent;</li>
				<li>that infringes any patent, trademark, trade secret,
					copyright or other proprietary rights of any party, or Content that
					you do not have a right to make available under any law or under
					contractual or fiduciary relationships;</li>
				<li>that contains software viruses or any other computer code,
					files or programs designed to interrupt, destroy or limit the
					functionality of any computer software or hardware or
					telecommunications equipment;</li>
			</ol>
			<p>&nbsp;</p>
			<ol start="2">
				<li><strong><span style="text-decoration: underline;">
							Intellectual Property Rights </span></strong></li>
			</ol>
			<p>The trademarks, pictures, illustrates and logos displayed on
				the portal are the registered and unregistered trademarks of their
				respective owners. Use of the trademarks displayed is strictly
				prohibited. No right or licence is given to you or any other party
				accessing the Website to download, reproduce or use any of such
				material.</p>
			<p>
				<strong>B. REGISTRATION &amp; TRANSACTIONS</strong>
			</p>
			<ol start="3">
				<li><strong><span style="text-decoration: underline;">
							Registration </span></strong></li>
			</ol>
			<p>To access certain information and services, you will be
				required to register and sign up for an account with us. You are
				solely responsible for safeguarding and maintaining the
				confidentiality of your username and password.&nbsp;</p>
			<p>
				<strong>&nbsp;</strong>
			</p>
			<ol start="4">
				<li><strong><span style="text-decoration: underline;">
							Bookings</span></strong></li>
			</ol>
			<p>By using and making a booking through the portal, you enter
				into a direct and legally binding relationship with the selected
				Education Provider. Today Got Class acts solely as an intermediary
				between you and the Education Provider, transmitting the details of
				the booking, processing payment and carrying out other incidental
				tasks to confirm the transaction. We are not liable for any breach
				in responsibilities and obligations of the Education Provider under
				all circumstances including business cessation, bankruptcy filings
				or misconduct and gross negligence on its part.</p>
			<p>All bookings are subject to the Standard Booking Term and
				Conditions of the Education Provider. The Education Provider may
				upload further terms and conditions on the portal. It is recommended
				that you read these carefully before making your booking.</p>
			<p>In the event of changes to the program schedule after a
				booking has been successfully made by a registered member, the
				Education Provider shall as soon as practicable inform you of the
				relevant changes and make alternative arrangements.</p>
			<p>Each Education Provider remains responsible at all times for
				the accuracy, completeness and correctness of all information and
				materials on its relevant listing. 3BOYS Pte Ltd does not warrant
				the accuracy, adequacy or completeness of the information or
				material posted by the Education Provider on our portal. The
				information and materials contained in the portal, including any
				services, products, information, data, text, graphics, audio, video,
				links and other items are provided "as is", and "as available". We
				expressly disclaim liability for errors or omissions in the
				information and materials.</p>
			<p>The use of any information or materials on the portal is
				entirely at your own risk. It shall be your own responsibility to
				ensure that any services or information available through the portal
				meet your specific requirements.</p>
			<p>3BOYS Pte Ltd will take commercially reasonable skill and care
				in performing our services, however we will not verify if, and
				cannot guarantee that, all information is accurate, complete or
				correct, nor can we be held responsible for any errors (including
				manifest and typographical errors), any interruptions (whether due
				to any temporary and/ or partial) breakdown, repair, upgrade or
				maintenance of the portal or otherwise), inaccurate, misleading or
				untrue information or non-delivery of information.</p>
			<p>&nbsp;</p>
			<ol start="5">
				<li><strong><span style="text-decoration: underline;">
							E-mail Notifications</span></strong></li>
			</ol>
			<p>By registering and/or using the portal for booking of
				educational programs, you agree to receive email notification(s)
				which we may send you in relation to your booking such as
				transaction details, providing you with certain information and
				offers relevant to your interests and proximity to your registered
				address, and emails which we may send to you after you have
				participated in the educational program, inviting you to share
				feedback and reviews.</p>
			<ol start="6">
				<li><strong><span style="text-decoration: underline;">
							Payment</span></strong></li>
			</ol>
			<p>When you make payment through the portal, this payment is
				safely processed by means of a secured payment gateway.</p>
			<p>Payments are non-refundable after a booking has been made
				and/or confirmed. At any time, and for any reason, we may provide
				either a full or partial refund and the decision for refund is at
				our sole and absolute discretion.</p>
			<p>&nbsp;</p>
			<ol start="7">
				<li><strong><span style="text-decoration: underline;">
							Review and Rating </span></strong></li>
			</ol>
			<p>Reviews and Ratings submitted by registered members are for
				the main purpose of sharing with other visitors their opinions of
				the quality of the services offered by the Education Providers and
				experiences from attending educational programs. By summiting a
				review or rating, you acknowledge and agree that all submissions are
				non-confidential and non-proprietary. Reviews may also be used at
				our sole discretion for marketing and promotional purposes.&nbsp;
				&nbsp;</p>
			<p>We reserve the right to adjust, refuse or remove reviews at
				our sole discretion. Where applicable, we may also post the relevant
				Education Provider’s comments or response to any review on our
				portal.</p>
			<p>&nbsp;</p>
			<p>
				<strong>C. PRIVACY POLICY</strong>
			</p>
			<p>We are committed to safeguarding the privacy of our visitors
				and members. Our Privacy Policy is incorporated into these Terms and
				outlines our policy and responsibility in relation to the
				collection, use and disclosure of your personal data.</p>
			<p>&nbsp;</p>
			<ol start="8">
				<li><strong><span style="text-decoration: underline;">
							Personal Data</span> </strong></li>
			</ol>
			<p>
				You agree that any personal data including but not limited to name,
				NRIC number, address, telephone number or email address transmitted
				through the portal will be collected, used and/or disclosed in
				accordance with our <span style="text-decoration: underline;">Privacy
					Policy.</span>
			</p>
			<p>&nbsp;</p>
			<ol start="9">
				<li><strong><span style="text-decoration: underline;">
							Collection of Personal Data </span></strong></li>
			</ol>
			<p>The types of personal data that we collect depend on the
				purposes for the collection or the nature of the
				activity/transaction involved. We may collect the following types of
				data which may amount to personal data:</p>
			<p style="padding-left: 30px;">(a) Information about your
				computer and about your visits to and use of this website, such as
				your IP address, geographical location, browser type, length of
				visit and number of page views</p>
			<p style="padding-left: 30px;">(b) Information relating to any
				transactions or in relation to the web portal, including information
				relating to any class bookings</p>
			<p style="padding-left: 30px;">(c) Information that you provide
				to us for the purpose of account registration</p>
			<p style="padding-left: 30px;">(d) Any other information such as
				demographics and/or interests.</p>
			<p>&nbsp;</p>
			<p>If you provide personal data relating to your dependent or
				children, you represent and warrant that the consent of that third
				party has been given/obtained for our collection, use and disclosure
				of their personal data in connection with the purposes specified
				below and that such personal data is accurate and complete.</p>
			<p>&nbsp;</p>
			<ol start="10">
				<li><strong><span style="text-decoration: underline;">
							Purposes for Collection, Use and Disclosure</span></strong></li>
			</ol>
			<p>We may collect, use and/or disclose personal data for the
				following purposes:</p>
			<ol>
				<li>To provide you with updates and recommendations on our
					programs and promotions.</li>
			</ol>
			<p>&nbsp;</p>
			<ol start="2">
				<li>To solicit feedback/reviews on education programs or
					suggestions to improve our services.</li>
			</ol>
			<p>&nbsp;</p>
			<ol start="3">
				<li>To investigate and respond to your enquiries, feedback,
					requests, or complaints.</li>
			</ol>
			<p>&nbsp;</p>
			<ol start="4">
				<li>To generate internal reports for audit and management
					purpose.</li>
			</ol>
			<p>&nbsp;</p>
			<ol start="5">
				<li>To compile usage statistics, help us understand the
					interests of our users and to improve the user experience.</li>
			</ol>
			<p>&nbsp;</p>
			<ol start="6">
				<li>To comply with applicable regulations and laws.</li>
			</ol>
			<p>&nbsp;</p>
			<ol start="11">
				<li><strong><span style="text-decoration: underline;">
							Disclosure to Third Parties </span></strong></li>
			</ol>
			<p>We will use reasonable efforts to ensure that our employees
				and other third parties who are involved in the collection, use and
				disclosure of personal data will observe and adhere to the terms of
				this Privacy Policy.</p>
			<p>We will not disclose or transfer any personal information
				collected to any third parties except as outlined in this privacy
				policy.</p>
			<p>We may disclose your personal data to law enforcement or
				government agencies for security and legal investigation
				purposes.&nbsp; &nbsp;</p>
			<p>&nbsp;</p>
			<ol start="12">
				<li><strong><span style="text-decoration: underline;">
							Cookies</span></strong></li>
			</ol>
			<p>Cookies are data files that help your browser communicate with
				your website. Today Got Class may use cookies in dealing,
				interacting or transacting with you.</p>
			<p>Cookies may be used:</p>
			<p style="padding-left: 30px;">(a) To help us recognize your
				browser as a previous visitor and save and remember any preferences
				that may have been set</p>
			<p style="padding-left: 30px;">(b) To help us customize the
				content and portal experience provided to you</p>
			<p style="padding-left: 30px;">&nbsp;</p>
			<p>You may block cookies on your web browser but not all features
				and functions of Today Got Class web portal will function properly,
				thus some of the transactions and activities may not be completed as
				a result.</p>
			<p>&nbsp;</p>
			<ol start="13">
				<li><strong><span style="text-decoration: underline;">
							Modification to Privacy Policy </span></strong></li>
			</ol>
			<p>We reserve the right to modify this privacy policy at any
				time. To protect your interests, please visit this page periodically
				to review the latest and most current Privacy Policy.</p>
			<p>&nbsp;</p>
			<p>
				<strong>D. ADDITIONAL TERMS</strong>
			</p>
			<p>&nbsp;</p>
			<ol start="14">
				<li><strong><span style="text-decoration: underline;">
							Indemnification</span></strong></li>
			</ol>
			<p>You agree to fully indemnify, defend and hold us, and our
				officers, directors, employees, agents and suppliers, harmless
				immediately on demand from and against all claims, liability,
				damages, losses, fines, penalties, costs and expenses of any kind or
				nature including but not limited to reasonable legal and accounting
				fees, brought by third parties as a result of:</p>
			<ol style="list-style-type: lower-roman;">
				<li>Your breach of this Agreement;</li>
				<li>your violation of any law or the rights of a third party;
					or</li>
				<li>your use of this portal</li>
			</ol>
			<ol start="15">
				<li><strong><span style="text-decoration: underline;">Governing
							Law</span></strong></li>
			</ol>
			<p>The Terms and Conditions shall be governed and construed in
				all respects in accordance with the laws of the Singapore but in
				enforcing the Terms and Conditions we shall be at liberty to
				initiate and take actions or proceedings or otherwise against you in
				Singapore or any other jurisdiction as we may deem fit, and you
				hereby agree that where any actions or proceedings are initiated and
				taken in Singapore, you shall submit to the jurisdiction of the
				courts of Singapore in all matters connected with your obligations
				and liabilities under or arising out of the Terms and Conditions.</p>
			<p>&nbsp;</p>
			<ol start="16">
				<li><strong><span style="text-decoration: underline;">
							Severability</span> </strong></li>
			</ol>
			<p>If any of the Terms and Conditions is invalid or
				unenforceable, the remainder of the Terms and Conditions shall
				continue to have full force and effect.</p>
			<p>&nbsp;</p>
			<ol start="17">
				<li><strong><span style="text-decoration: underline;">
							Rights Reserved</span> </strong></li>
			</ol>
			<p>We reserve the right and has absolute discretion to reject any
				account sign up or terminate a user’s access to our web portal in
				the event of a breach of our terms and conditions.</p>
			<p>&nbsp;</p>
			<ol start="18">
				<li><strong><span style="text-decoration: underline;">
							Variation</span></strong></li>
			</ol>
			<p>We may amend the Terms and Conditions at any time without
				prior notice. The Terms and Conditions as amended from time to time
				shall take effect immediately from the time they are published on
				the portal. We recommend that you carefully read the Terms of Use
				each time you use the portal as they may affect your rights.&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>

		</div>
	</section>

	<div lang="en" th:include="footer :: footer"></div>
	<script th:include="footer :: loginScript" th:inline="javascript"></script>
	
</body>
</html>


