more{

	.content-format{
		background-color:#f6f6f6;
	}

	.div-format{
		padding: 10px;
		text-align: center;
	}

	ion-item {
		height:70px;
		padding-left: 0px !important;
	}

	.link-format{
		text-decoration: none;
		color: #323232;
	}

	.span-text{
		margin-left:7%;
	}

	.logo-format{
		font-size: 30px;
		margin-left: 10px;
		color: #30344F;
	}

	.img-format{
		height:30px;
		margin-left:10px;
	}
}